{% extends "base/basic_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="text-center mb-3">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Change date</button>
    </form>
</div>

<div class="row">
<table class="table with-margin-bot">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">00-15</th>
    <th scope="col">15-30</th>
    <th scope="col">30-45</th>
    <th scope="col">45-60</th>
  </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <th scope="row">{{row.hour.hour}}:00</th>
      {% for col in row.cells %}
      <td colspan="{{ col.1 }}"><a class="btn act-btn btn-block" style="color: white; background-color: {{col.2}}">{{ col.0 }}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="row">
<div class="col-lg-12"><a class="btn btn-block">&nbsp;</a></div>
</div>
{% for snapshot in snapshots %}
<div class="row border border-3 with-margin-bot pt-2">
  <div class="col-lg-6"><img src="{{ snapshot.image.url }}" class="img-fluid" alt="Responsive img"></div>
  <div class="col-lg-6 ">
    <div class="row with-margin-bot align-top">
      <div class="col text-right">{{ snapshot.timestamp }}</div>
    </div>
    <div class="row with-margin-bot">
      <div class="col text-center">{{ snapshot.note }}</div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
