{% extends "base/basic_layout.html" %}
{% block trashCss %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}common/style.css" />
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">00-15</th>
    <th scope="col">15-30</th>
    <th scope="col">30-45</th>
    <th scope="col">45-60</th>
  </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <th scope="row">{{row.hour.hour}}:00</th>
      {% for col in row.cells %}
      <td colspan="{{ col.0 }}"><a class="btn btn-primary btn-block">{{ col.1 }}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
    

{% endblock %}
